body {
    margin:0;
    background-image: url("image/Background_image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: white;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    overflow: hidden;
}

#task-input{
    border : 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
}

#add-button{
    border-radius: 10px;
    cursor: pointer;
}

.task-area{
    border:1px solid lightgray;
}

.task-tab{
    display: flex;
    border-bottom:1px solid lightgray;
    position:relative;
}
.task-tab div{
    padding: 1em;
}

#under-line{
    height: 4px;
    background-color: blue;
    position: absolute;
    width: 80px;
    left:0px;
    top: 52px;
    padding:0px;

}

.task{
    display:flex;
    justify-content: space-between;
    padding: 1.2em;
}

.task-done{
    text-decoration: line-through;
}

.task button img {
    width: 20px;  /* 원하는 크기로 조절 */
    height: 20px;
    object-fit: contain; /* 이미지가 찌그러지지 않게 비율 유지 */
}

.check-btn{
    background: none;
    border: none;
    cursor: pointer;
    width: 20px;    
    height: 20px;
}


.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-btn img {
    width: 20px;
    height: 20px;
}


